## Limpeza de strings

In [58]:
estados = [ 'ACre', 'Alagoas?', 'alagoas', 'Alagoas', 'Rio de Janeiro', 'São Paulo##', 'Amazonas!']

In [59]:
import re

In [60]:
def uniform(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [61]:
uniform(estados)

['Acre',
 'Alagoas',
 'Alagoas',
 'Alagoas',
 'Rio De Janeiro',
 'São Paulo',
 'Amazonas']

In [62]:
def pontuacao(value):
    return re.sub('[!#?]', '', value)

limpeza = [str.strip, pontuacao, str.title]

def uniform(strings, limpeza):
    result = []
    for value in strings:
        for function in limpeza:
            value = function(value)
        result.append(value)
    return result

In [63]:
uniform(estados, limpeza)

['Acre',
 'Alagoas',
 'Alagoas',
 'Alagoas',
 'Rio De Janeiro',
 'São Paulo',
 'Amazonas']

Built-in map

In [64]:
for x in map(pontuacao, estados):
    print(x)

ACre
Alagoas
alagoas
Alagoas
Rio de Janeiro
São Paulo
Amazonas

## Itertools

In [65]:
import itertools

In [66]:
primeira = lambda x: x[0]

In [67]:
nomes = ['José', 'Jandira', 'Arthur', 'Alfredo', 'João', 'Joana', 'Amanda', 'Arrascaeta']

In [68]:
for letra, nomes in itertools.groupby(nomes, primeira):
    print(letra, list(nomes))

J ['José', 'Jandira']
A ['Arthur', 'Alfredo']
J ['João', 'Joana']
A ['Amanda', 'Arrascaeta']