Carregando bibliotecas

In [95]:
import numpy as np

Os 20 nomes mais populares do Mundo, utilizando técnica de slicing

In [96]:
nomes = ["Maria", "Nushi", "Mohammed", "Jose", "Muhammad", "Mohamed", "Wei", "Mohammad", "Ahmed", 
         "Yan", "Ali", "John", "David", "Li", "Abdul", "Ana", "Ying", "Michael", "Juan", "Anna"]

Definindo meu array

In [97]:
array = np.array(nomes)

Pegando os primeiros 4 elementos

In [98]:
nomes[:4]

['Maria', 'Nushi', 'Mohammed', 'Jose']

Elementos após o 4 elemento

In [99]:
nomes[4:]

['Muhammad',
 'Mohamed',
 'Wei',
 'Mohammad',
 'Ahmed',
 'Yan',
 'Ali',
 'John',
 'David',
 'Li',
 'Abdul',
 'Ana',
 'Ying',
 'Michael',
 'Juan',
 'Anna']

Entre 4 e 9 elemento

In [100]:
nomes[4:9]

['Muhammad', 'Mohamed', 'Wei', 'Mohammad', 'Ahmed']

Qualquer elemento om o pulo de 2

In [101]:
nomes[::2]

['Maria',
 'Mohammed',
 'Muhammad',
 'Wei',
 'Ahmed',
 'Ali',
 'David',
 'Abdul',
 'Ying',
 'Juan']

Começando pelo primeiro elemento

In [102]:
nomes[1::2]

['Nushi',
 'Jose',
 'Mohamed',
 'Mohammad',
 'Yan',
 'John',
 'Li',
 'Ana',
 'Michael',
 'Anna']

Em ordem reversa

In [42]:
nomes[::-1]

['Anna',
 'Juan',
 'Michael',
 'Ying',
 'Ana',
 'Abdul',
 'Li',
 'David',
 'John',
 'Ali',
 'Yan',
 'Ahmed',
 'Mohammad',
 'Wei',
 'Mohamed',
 'Muhammad',
 'Jose',
 'Mohammed',
 'Nushi',
 'Maria']

A partir do 5 elemento

In [103]:
nomes[5::-2]

['Mohamed', 'Jose', 'Nushi']

Multi-dimensões

In [104]:
multi_dim = np.random.choice(nomes, size=(3, 6))

In [105]:
multi_dim

array([['David', 'Ying', 'Jose', 'Maria', 'Ali', 'Ying'],
       ['Nushi', 'Muhammad', 'Maria', 'Wei', 'Ahmed', 'Muhammad'],
       ['Ana', 'Mohammed', 'Ali', 'Michael', 'Ali', 'Jose']], dtype='<U8')

Duas linhas e quatro colunas

In [106]:
multi_dim[:2, :4]

array([['David', 'Ying', 'Jose', 'Maria'],
       ['Nushi', 'Muhammad', 'Maria', 'Wei']], dtype='<U8')

Todas as linhas e qualquer coluna

In [107]:
multi_dim[:3, ::2]

array([['David', 'Jose', 'Ali'],
       ['Nushi', 'Maria', 'Ahmed'],
       ['Ana', 'Ali', 'Ali']], dtype='<U8')

Dimensões reversas

In [108]:
multi_dim[::-1, ::-1]

array([['Jose', 'Ali', 'Michael', 'Ali', 'Mohammed', 'Ana'],
       ['Muhammad', 'Ahmed', 'Wei', 'Maria', 'Muhammad', 'Nushi'],
       ['Ying', 'Ali', 'Maria', 'Jose', 'Ying', 'David']], dtype='<U8')

Selecionando apenas a primeira coluna

In [109]:
print(multi_dim[:, 0])

['David' 'Nushi' 'Ana']

Primeira linha

In [110]:
print(multi_dim[0, :])

['David' 'Ying' 'Jose' 'Maria' 'Ali' 'Ying']

In [111]:
print(multi_dim)

[['David' 'Ying' 'Jose' 'Maria' 'Ali' 'Ying']
 ['Nushi' 'Muhammad' 'Maria' 'Wei' 'Ahmed' 'Muhammad']
 ['Ana' 'Mohammed' 'Ali' 'Michael' 'Ali' 'Jose']]

Extraindo um subarray 2×2

In [112]:
multi_sub = multi_dim[:2, :2]
print(multi_sub)

[['David' 'Ying']
 ['Nushi' 'Muhammad']]

Podemos também alterar o array original

In [115]:
multi_sub[0, 0] = 'Lucas'
multi_dim

array([['Lucas', 'Ying', 'Jose', 'Maria', 'Ali', 'Ying'],
       ['Nushi', 'Muhammad', 'Maria', 'Wei', 'Ahmed', 'Muhammad'],
       ['Ana', 'Mohammed', 'Ali', 'Michael', 'Ali', 'Jose']], dtype='<U8')

In [116]:
multi_dim

array([['Lucas', 'Ying', 'Jose', 'Maria', 'Ali', 'Ying'],
       ['Nushi', 'Muhammad', 'Maria', 'Wei', 'Ahmed', 'Muhammad'],
       ['Ana', 'Mohammed', 'Ali', 'Michael', 'Ali', 'Jose']], dtype='<U8')

Copiando o subarray sem alterar o original

In [117]:
multi_dim_copia = multi_dim[:2, :2].copy()
multi_dim_copia

array([['Lucas', 'Ying'],
       ['Nushi', 'Muhammad']], dtype='<U8')

In [118]:
multi_dim_copia[0, 0] = 'Maria'
multi_dim_copia

array([['Maria', 'Ying'],
       ['Nushi', 'Muhammad']], dtype='<U8')

Comparação

In [119]:
multi_dim

array([['Lucas', 'Ying', 'Jose', 'Maria', 'Ali', 'Ying'],
       ['Nushi', 'Muhammad', 'Maria', 'Wei', 'Ahmed', 'Muhammad'],
       ['Ana', 'Mohammed', 'Ali', 'Michael', 'Ali', 'Jose']], dtype='<U8')